/* Pseudo selector que define dos custom variables que tienen la 
intencion de aplicarse al fondo de la pagina */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Condicional que detecta si el sistema del usuario prefiere modo obscuro, 
si es asi se aplican los siguientes valores a las custom variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw; /* Previene que los elementos se expandan mas alla del ancho de la pantalla */
  overflow-x: hidden; /* Si falla en la prevencion oculta el exceso */
}

body {
  color: var(--foreground); /* Aplica la custon variable definida en :root para el color del texto */
  background: var(--background); /* Aplica la custon variable definida en :root para el fondo */
  font-family: Arial, Helvetica, sans-serif; /* Define la jerarquia de fuentes */
  -webkit-font-smoothing: antialiased; /* Mejoran la renderización de fuentes en navegadores WebKit y Firefox en macOS */
  -moz-osx-font-smoothing: grayscale; /* Mejoran la renderización de fuentes en navegadores WebKit y Firefox en macOS */
}

/* Selecciona TODOS los elementos de la página */
* {
  /* Hace que el tamaño incluya padding y border (más fácil de calcular) */
  box-sizing: border-box;
  /* Quita todos los espacios internos por defecto */
  padding: 0;
  /* Quita todos los espacios externos por defecto */
  margin: 0;
}

/* Estilos para todos los enlaces */
a {
  /* Los enlaces usan el mismo color que el texto normal */
  color: inherit;
  /* Quita la línea azul debajo de los enlaces */
  text-decoration: none;
}

/* Solo se aplica si el usuario tiene modo oscuro activado */
@media (prefers-color-scheme: dark) {
  html {
    /* Le dice al navegador que use controles en modo oscuro */
    color-scheme: dark;
  }
}
