/* Pseudo selector que define dos custom variables que tienen la 
intencion de aplicarse al fondo de la pagina */
:root {
  --background: #ffffff;
  --foreground: #171717;
}
/* Condicional que detecta si el sistema del usuario prefiere modo obscuro, 
si es asi se aplican los siguientes valores a las custom variables */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw; /* Previene que los elementos se expandan mas alla del ancho de la pantalla */
  overflow-x: hidden; /* Si falla en la prevencion oculta el exceso */
}

body {
  color: var(--foreground); /* Aplica la custon variable definida en :root para el color del texto */
  background: var(--background); /* Aplica la custon variable definida en :root para el fondo */
  font-family: Georgia, 'Times New Roman', Times, serif;
  -webkit-font-smoothing: antialiased; /* Mejoran la renderización de fuentes en navegadores WebKit y Firefox en macOS */
  -moz-osx-font-smoothing: grayscale; /* Mejoran la renderización de fuentes en navegadores WebKit y Firefox en macOS */
}

/* Selecciona TODOS los elementos de la página */
* {
  /* Hace que el tamaño incluya padding y border (más fácil de calcular) */
  box-sizing: border-box;
  /* Quita todos los espacios internos por defecto */
  padding: 0;
  /* Quita todos los espacios externos por defecto */
  margin: 0;
}

/* Estilos para todos los enlaces */
a {
  /* Los enlaces usan el mismo color que el texto normal */
  color: inherit;
  /* Quita la línea azul debajo de los enlaces */
  text-decoration: none;
}

/* Solo se aplica si el usuario tiene modo oscuro activado */
@media (prefers-color-scheme: dark) {
  html {
    /* Le dice al navegador que use controles en modo oscuro */
    color-scheme: dark;
  }
}

.gradient-text{
  background: linear-gradient(135deg, #000000 0%, #b39060 100%); /* Se aplica el degradado a el fondo del elemento texto no a texto como tal */
  background-clip: text; /* Se declara que el recorte se va hacer al texto */
  -webkit-background-clip: text; /* Se aplica solo el degradado en la figura que deja el texto */
  -webkit-text-fill-color: transparent; /* Se hace el texto transparente para que de el efecto de degradado */
  color: black; /* fallback por si falla */
}

.button {
  background-color: #000000;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 9999px; /* rounded-full */
  text-decoration: none;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #374151; /* hover:bg-gray-800 */
}